<h1>{{title}}</h1>

<form action="/associated_person" method="post">
    <fieldset>
		<legend>Create a new associated person (such as a family member)</legend>
		<div>
			<label for='associated_name'>Associated Person Name:</label>
			<input type="text" name="associated_name">
		</div>
		<input type="submit" value="Submit">
    </fieldset>	
</form>