<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
   <a href="#"><img src="/images/refugees.png" alt="Image of refugees" width="467" height="100" id="Insert_logo" style="background-color: #C6D580; display:block;" /></a> 
    <nav>
      <ul>
        <li><a href="/auth/dashboard">Home</a></li>
        <li><a href="/reports">Reports</a></li>
          <li><a href="/debugging/destroy-session">destroy current session</a></li>
      </ul>
    </nav>
    </header>
    <content>
      {{{body}}}
    </content>
  </body>
</html>
