<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
   <a href="#"><img src="/images/refugees.png" alt="Image of refugees" width="467" height="100" id="Insert_logo" style="background-color: #C6D580; display:block;" /></a> 
    </header>
    <content>
      {{{body}}}
    </content>
  </body>
</html>
