<h1>Login</h1>
<div class="login-error">{{ error }}</div>
<form action="/auth/login" method="post">
    <div class = "field">User Type
        <select>
            <option value="Refugee">Refugee</option>
            <option value="NGO">NGO</option>
        </select>
    </div>
    <div class = "field">User Name <input type="text" name="username"></div>
    <div class = "field">Password <input type="password" name="password"></div>
    <div class="login-button"><input type="submit" value="Login"></div>
</form>
