<!-- FIXME: this is completely winging it on some assumed server side work -->
<h1>Associated People for {{refugee_id}}</h1>

<table>
	<tr> <th>Associated Person Name</th> </th>
{{#each persons}}
	<td>{{this.name}}</td>
{{/each}}
</table>