<h1>{{title}}</h1>

<h2>Welcome {{user}}</h2>

<fieldset>
	<legend>View All Refugees</legend>
		<a href="/view_refugees">
			<div class="button" href="/view_refugees">View</div>
		</a>
	</legend>
</fieldset>

<form action="/search_refugees" method="get">
	<fieldset>
		<legend>Search for a Refugee</legend>
		<label for='username'>Full Name:</lable>
		<input type="text" name="refugee_name"></input>
		<input type="submit" value="Search"></input>
	</fieldset>
</form>
