<h1>{{title}}</h1>

<div class="button">
  <a href="/view_refugees">View All Refugees</a>
</div>



<form action="/search_refugees" method="post">
	<fieldset>
		<legend>Search for a Refugee</legend>
		<label for='username'>Full Name:</lable>
		<input type="text" name="username">
		<submit type="submit" value="Search"></submit>
	</fieldset>
</form>
