<h1>{{title}}</h1>

<form action="/refugee_dashboard">
    <input type ='hidden' name='status' value="0" id='status'>
    <input type="submit" value="Edit Profile" />
</form>

<form action="/associated_person">
    <input type="submit" value="Add Associated Person" />
</form>

<form action="/refugee_dashboard">
    <input type ='hidden' name='status' value="0" id='status'>
    <input type="submit" value="Remove Associated Person" />
</form>

<form action="/refugee_dashboard">
    <input type ='hidden' name='status' value="0" id='status'>
    <input type="submit" value="View Associated Persons" />
</form>

<form action="/refugee_dashboard">
    <input type ='hidden' name='status' value="0" id='status'>
    <input type="submit" value="Create Report" />
</form>

<form action="/refugee_dashboard">
    <input type ='hidden' name='status' value="0" id='status'>
    <input type="submit" value="View Report" />
</form>


<h5>{{status}}</h5>