<h1>Get Report</h1>

<!-- FIXME: right way to link to refugee's report -->
<form action="/reports/" method="post">
    <fieldset>
		<legend>Get report(s) created by refugee</legend>
		<div>
			<!-- FIXME: better way to associate Refugee with report-->
			<label for='refugee_id'>Refugee Name:</label>
			<input type="text" name="refugee_id">
		</div>
		<input type="submit" value="Get Report">
    </fieldset>	
</form>