<h1>NGO: Search Refugees</h1>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{{#if results}}
		{{#each results}}
			<td>{{this.id}}</td>
			<td>{{this.name}}</td>
		{{/each}}
		{{/if}}
	</tbody>
</table>
